.section-divide {
  width: auto;
  height: 100vh;
}

main {
  background-image: url(images/main-bg.jpg);
  background-position: center;
  background-size: cover;
  color: var(--black);
}

.grid-wrapper {
  text-align: center;
  border-radius: 10px;  
  background-color: rgba(255, 255, 255, 0.308);
  padding: 30px;
  width: fit-content;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.582);
  transition: 1s;
}

.grid-wrapper:hover {
  text-align: center;
  border-radius: 10px;  
  background-color: rgba(255, 255, 255, 0.616);
  padding: 40px;
  width: fit-content;
  box-shadow: 0px 0px 40px var(--white);
}

.a-no-underline {
  text-decoration: none;
}

.a-home {
  border-radius: 25px;
  background-color: var(--black);
  padding: 12px;
  color: var(--white);
  fill: var(--white);
  width: fit-content;
  display: flex;
  margin: auto;
  transition: .5s;
}

.a-home:hover {
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.76);
  color: var(--black);
  fill: var(--black);
}

/* SCROLL SECTION */      
#preview {
  height: fit-content;
  width: fit-content;
}

/* LINKS SECTION */

#links-section {
  background-color: var(--black);
  height: 400px;
  background-image: url(images/continue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

