body {
  background-color: var(--black);
}

/*NAVBAR STYLE*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 90px;
}

nav a {
  color: white;
}

nav a svg {
  fill: black;
  transition: 300ms;
}

nav a svg:hover {
  transform: scale(1.3);
  fill: white;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li:hover {
  transform: scale(1.1);
  transition: 300ms;

}

ul li {
  margin: 0px 0px 0px 90px;
}

main {
  height: 45vh;
  background-image: url(images/main-gallery.jpg);
}

.scroll-section__info {
  justify-content:unset;
}