body {
  background-color: var(--black);
}

/*NAVBAR STYLE*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 90px;
}

nav a {
  color: white;
  margin-right: 10px;
}

nav a svg {
  fill: black;
  transition: 300ms;
}

nav a svg:hover {
  transform: scale(1.3);
  fill: white;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0px;
  width: 100%;
}

ul li:hover {
  transform: scale(1.1);
  transition: 300ms;

}

ul li {
  /* margin: 0px 0px 0px 90px; */
  display: flex;
  justify-content: flex-start;
}

ul li:first-child {
  margin-right: auto;
}


main {
  height: 45vh;
  background-image: url(images/main-gallery.jpg);
}

.scroll-section__info {
  justify-content:unset;
}

@media screen and (max-width: 795px) {
  nav {
    position: fixed;
    background-color: black;
    width: 100%;
    justify-content: space-evenly;
    padding: 18px;
    top: 0;
  }

  main {
    margin-top: 60px;
  }
  
  .desk {
    display: none;
  }

  nav ul {
    justify-content: space-around;
  }

  ul li:first-child {
    margin-right: unset;
  }

  nav a {
    margin: 0px;
  }

}