@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

:root {
  --black: black;
  --white: white;
}
* {
  margin: 0;
  font-family: Sunflower;
  box-sizing: border-box;
  /* border: solid 1px red; */
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100%;
}

main {
  background-position: center;
  background-size: cover;
}

.a-no-underline {
  text-decoration: none;
}

.center {
  display: grid;
  justify-content: center;
  align-content: center;
}

/* CENTERED HEADER */
.grid-wrapper {
  text-align: center;
  border-radius: 10px;  
  background-color: rgba(255, 255, 255, 0.308);
  padding: 30px;
  width: fit-content;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.582);
  transition: 1s;
}

.grid-wrapper:hover {
  text-align: center;
  border-radius: 10px;  
  background-color: rgba(255, 255, 255, 0.616);
  padding: 40px;
  width: fit-content;
  box-shadow: 0px 0px 40px var(--white);
}


/* SCROLL SECTION */      
.scroll-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 90px;
  padding: 90px 40px 90px 40px;
  background-color: var(--black);
}

.scroll-section__info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.info-hero {
  padding: 5px;
}

.info-hero img {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.info-text {
  padding: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text h2,p{
  color: var(--white);
}



@media screen and (max-width: 795px) {
  #preview {
    height: auto;
    width: auto;
  }
  .scroll-section__info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }

}